body {
  background-image: url("../image/weather.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  object-fit: contain;
}

.iconImg {
  color: orange;
  font-size: 2em;
  text-shadow: 1px 1px 8px black;
}

.sm {
  font-size: 1.8em;
  text-shadow: 1px 1px 8px white;
}

.xs {
  font-size: 0.5em;
  text-shadow: 1px 1px 3px white;
}

.smText {
  font-size: 0.8em;
  font-weight: 900;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
