body {
  background-image: url("../image/weather.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  object-fit: contain;
}

.iconImg {
  color: orange;
  font-size: 2em;
  text-shadow: 1px 1px 8px black;
}

.sm {
  font-size: 1.8em;
  text-shadow: 1px 1px 8px white;
}

.xs {
  font-size: 0.5em;
  text-shadow: 1px 1px 3px white;
}

.smText {
  font-size: 0.6em;
  font-weight: 900;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.moveRight {
  position: relative;
  left: 15px;
}

@media screen and (max-width: 900px) {
  .smText {
    font-size: 0.3em;
    font-weight: 400;
    color: green;
  }

  .moveRight {
    left: 5px;
  }
}

@media screen and (max-width: 550px) {
  .mdText {
    font-size: 0.65em;
  }
}

@media screen and (max-width: 450px) {
  .smText {
    font-size: 0.15em;
    font-weight: 300;
    color: red;
  }

  .moveRight {
    left: 3px;
  }
}
